{{ define "main" }}
  {{ partial "home/hero.html" . }}

  <div class="document-content">


    {{ partial "home/summary.html" (dict
      "block_wrapped" true
      "context" .
    ) }}

    {{ if .Params.contents }}
      {{ partial "contents/list.html" (dict
        "context" .
        "contents" .Params.contents
      ) }}

      {{ $academic_years := site.GetPage "/academic_years" }}
      {{ $years := $academic_years.Pages }}

      {{ $person_page := site.GetPage "/persons" }}
      {{ $persons := where $person_page.Pages ".Params.cohorts" "ne" nil }}
      {{ $persons = uniq $persons }}
      {{ $persons = sort $persons ".Params.last_name" }}
      {{/*  {{ $persons := where $person_page.Pages ".Params.cohorts" "intersect" nil }}  */}}

      {{ $paginator := .Paginate $persons 20 }}

      {{ partial "alumni/list.html" (dict 
        "context" .
        "persons" $paginator.Pages
      ) }}

      {{ partial "commons/section/pagination.html" . }}
    {{ end }}
  </div>
{{ end }}
